* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background: var(--dark-blue);
    color: var(--body-2, #e5e7eb);
    line-height: 1.6;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: var(--dark-blue);
    position: relative;
}



