section {
    padding: var(--space-4xl) var(--space-3xl);
    text-align: center;
}

section h2 {
    font-size: var(--h2);
    font-weight: 700;
    color: var(--body-2);
    margin-bottom: var(--space-md);
    font-family: 'merriweather', serif;
}

section .subtitle {
    font-size: var(--txt-info);
    color: var(--blue, #a9ceff);
    margin-bottom: var(--space-3xl);
    font-family: 'merriweather', serif;
}

.programme,
.infos-pratiques,
.partenaires {
    background-color: var(--dark-blue);
}

.artistes {
    background-color: var(--dark-blue);
}

.a-propos {
    background-color: var(--dark-blue);
}
