.menu {
  position: fixed;
  inset: 0;
  z-index: 999;
  color: var(--body-2);
  display: flex;
  gap: var(--space-5xl);
  flex-direction: column;
  padding: var(--space-4xl);
  background-color: var(--dark-blue);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu[hidden] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu__list,
.menu__social-list,
.menu__img {
  position: relative;
}

.menu__list {
  margin-top: 6rem;
  list-style: none;
  padding: 0;
}

.menu__item {
  margin-bottom: var(--space-lg);
}

.menu__img {
  border-radius: var(--space-md);
}

.menu__link {
  color: var(--blue);
  text-decoration: none;
  font-size: var(--body);
  transition: color 0.3s ease;
}

.menu__link:hover {
  color: var(--white);
}

.menu__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  gap: var(--space-xl);
}

.menu__social-link {
  color: var(--blue-deep);
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu__social-link:hover {
  color: var(--blue);
}